# OS Files
.DS_Store

# Python Files
__pycache__/
*.pyc
.ropeproject

# External sources
src/huffner-src
src/akiba-iwata-src
*.class

# OCT Files
env/
/data
heuristic_solver
*.dSYM/
*.ignore
cplex.log
figures/
tables
results/

# Data
experiments/data/synthetic_summary.csv
